* {
    padding: 0px;
    margin: 0px;
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: aliceblue;
    padding: 15px;
}



.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

.menu-items li:hover {
    background-color: green;
    cursor: pointer;
}

.banner-right {
    margin-top: 100px;
}

.banner-continer {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    align-items: center;
}

.banner-image {
    height: 100%;
}

.banner-description {
    margin-left: 50px;
    /* line-height: 40px; */

}

.banner-text {
    color: brown;
    font-size: 25px;
    margin: 10px;

}

.title-1 {
    font-weight: bold;
    font-size: 60px;
    margin: 10px;

}

.font-size {
    font-size: 25px;
    margin: 10px;
}

.banner-btn {
    padding: 12px 35px;
    background-color: crimson;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: antiquewhite;
    font-weight: 700;
    cursor: pointer;

}

.main-two-section {
    margin-top: 150px;
}

.section-two {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.tilte2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 80px;
}

.card-1 {
    height: 200px;
    width: 300px;
    border: 2px solid grey;
    text-align: center;
    box-shadow: 8px 8px 20px grey;
    padding: 20px;
    margin-top: 50px;
    transition: .8ms;
}

.card-1:hover {
    border: 2px solid rgb(190, 11, 11);
    margin-top: -5px;
    transition: .8ms;


}

.gym-icon {
    width: 50px;
}

.about-title {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.about-container {
    display: flex;
    background-color: black;
    align-items: center;

}

.about-discription {
    color: antiquewhite;

}

.about-left {
    width: 50%;

}

.about-right {
    width: 50%;
}

.workout-image {
    display: flex;
    margin-top: 50px;
    overflow: hidden;
}

.workout-image>img {
    width: 300px;
    height: 550px;
    transform: skewY(-15deg);
}

.workout-containear {
    width: 650px;
    height: 200px;
    background-image: url(./images/shape/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 9px;
}

.service-title {
    font-size: 40px;
    text-align: center;
}

.main-service-card {
    display: flex;
    justify-content: space-evenly;
}

.card-div {
    width: 350px;
    height: 450px;
    border: 2px solid grey;
    box-shadow: 7px 7px 15px grey;
    margin-bottom: 50px;
    border-radius: 8px;
}

.main-service-card img {
    width: 100%;
}

.rate {
    display: flex;
    justify-content: space-between;
    padding: 9px;

}

.text-padding {
    padding: 9px;
}

.h4-color {
    color: brown;
}